<form>
	<input type='text' id ='text'></input><br>
	<input type='email' id='text'></input><br>
	<input type='comment' id ='comment'></input><br>
	<input type='submit' value='submit'></input><br>
</form>
